*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/folhas.jpg);
}
/*o quadrado onde tem os campos e botoes*/
form{
    background-color: white;
    max-width: 900px;
    width: 35%;
    height: 85%;
    padding: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*sombra*/
    box-shadow: 15px 15px 10px rgba(1, 45, 9, 0.488);
}
/*frase: fazer login*/
form h1{
    font-size: 47px;
    text-align: center;
    color: #21572dcc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*os campos (usuario e senha)*/
form input[type=text],
form input[type=password]{
    width:100%;
    height: 35px;
    border:1px solid #ccc;
    padding-left: 10px;
    /*distancia entre dois campos*/
    margin: 10px 0;
    border-radius: 20px;
}
/*botao*/
form input[type=submit]{
    width: 100%;
    height: 40px;
    /*mostrar para usuario que e clicavel*/
    cursor: pointer;
    /*fundo do botao*/
    background: #21572dcc;
    /*cor da letra*/
    color: white;
    /*tirar a borda*/
    border: 0;
    /*botao arrendondado*/
    border-radius: 20px;
    /*ao clicar ele muda a cor lentamente*/
    transition: 1s;
    /*distancia entre dois campos*/
    margin: 10px 0;
}
/*efeitos do botao*/
form input[type=submit]:hover{
    background-color: #0d1e11cc;
}
/*clicar sobre o campo a borda ficar verde*/
form input[type=text]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}
/*texto: nao esta conseguindo acessar*/
form h4{
    font-size: 12px;
    text-align: center;
    color: #21572dcc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
}