body {
    /*largura*/
    width: 100%;
    /*altura*/
    height: 100%;
    /*tirar barra horizontal / tirar a borda branca*/
    margin: 0 auto;
}
.menu-principal {
    width: 100%;
    /*atribuir a cor do menu1*/
    background-color: #21572dcc;
    /*altura do menu (em pixels)*/
    height: 60px;
}
/*referenciar o main (tela principal)*/
main {
    margin: 0 auto;
    width: 980px;
    position: relative;

}
/*referenciar o logo*/
.logo {
    /*padding é responsável por definir uma distância interna entre um elemento e sua borda*/
    padding: 5px;
    /*fazer com que os icons das redes socias fiquem dentro do menu*/
    float: left;
    width: 70%;
}
form{
    width: 300px;
    height: 540px;
    background-color: #21572d31;
}
.redes-sociais ul li {
    /*atribuir espaco entre os icons*/
    margin-left: 10px;
    /*resetar os pontos e ficar um lado do outro*/
    display: inline-block;
    /*tirar a linha de marcaçao*/
    list-style: none;

}
.redes-sociais {
    width: 20%;
    float: right;

}
/*menu secundario*/
.header-2 {
    /*centralizar os botoes no menu*/
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    /*colocar a borda*/
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #21572dcc;
    /*atribuir espaco entre as palavras*/
    margin-left: 15px;
}
/*tag do link*/
.menu ul li a{
    color: #21572dcc;
    /*remover o sublinhado (aspecto de link)*/
    text-decoration: none;
    /*tamanho da fonte*/
    font-size: 20px;
    /*deixar as letras maiusculas*/
    text-transform: uppercase;
}

/*botao*/
.menu2 input[type="button"]{
    width: 250px;
    height: 45px;
    /*mostrar para usuario que e clicavel*/
    cursor: pointer;
    /*fundo do botao*/
    background: #21572d81;
    /*cor da letra*/
    color: white;
    font-size: 20;
    /*tirar a borda*/
    border: 0;
    /*botao arrendondado*/
    border-radius: 20px;
    /*ao clicar ele muda a cor lentamente*/
    transition: 1s;
    /*distancia entre dois campos*/
    margin: 30px 20px;
    text-align: center;
    /*background:url(../images/photo_plant.jpg);*/
    
}
main input[type=text]{
    width: 400px;
    height: 30px;
    /*mostrar para usuario que e clicavel*/
    cursor: pointer;
    /*cor da letra*/
    color: white;
    font-size: 20;
    /*botao arrendondado*/
    border-radius: 20px;
    margin: 10px 250px;
}
/*efeitos do botao*/
form input[type="button"]:hover{
    background-color: #0d1e11cc;
}
/*clicar sobre o campo a borda ficar verde*/
form input[type=text]:focus{
    outline: 0;
}
/*campo pesquisar*/
form input[type=text]{
    width:100%;
    height: 35px;
    border:1px solid #ccc;
    /*distancia entre dois campos*/
    margin: 20px 0;
    border-radius: 20px;
    color: black;
}
