/*geral*/
*{
    margin: 0;
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
}
body {
    /*largura*/
    width: 100%;
    /*altura*/
    height: 100%;
    /*tirar barra horizontal / tirar a borda branca*/
    margin: 0 auto;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;

}
.logo {
    /*padding é responsável por definir uma distância interna entre um elemento e sua borda*/
    padding: 5px;
    /*fazer com que os icons das redes socias fiquem dentro do menu*/
    float: left;
    width: 70%;
}
.redes-sociais ul li {
    /*atribuir espaco entre os icons*/
    margin-left: 10px;
    /*resetar os pontos e ficar um lado do outro*/
    display: inline-block;
    /*tirar a linha de marcaçao*/
    list-style: none;
}
.redes-sociais {
    width: 30%;
    float: right;
}
/*-----------------HOME SOBRE SERVICOS PAGINAS CONTATO-------------*/
/*menu secundario*/
.header-2 {
    /*centralizar os botoes no menu*/
    text-align: center;
    background-color: #ffffff;
    width: auto;
    height: 75px;
    padding: auto;
    padding-top: 22px;
    padding-right: 5%;
    /*colocar a borda*/
    border-bottom: 3px solid #efefef;
    background-color: #21572d81;
}
.menu ul li {
    display: inline-block;
    color: white;
    /*atribuir espaco entre as palavras*/
    margin-left: 15px;
}
/*--------------------------BOTOES-----------------------------*/
/* Estilo para os botões de entrada do tipo "button" */
input[type="button"] {
    width: 250px;
    height: 45px;
    /* Mostrar para o usuário que é clicável */
    cursor: pointer;
    /* Fundo do botão */
    background: #21572d81;
    /* Cor do texto */
    color: white;
    font-size: 20px;
    /* Tirar a borda */
    border: none;
    /* Botão arredondado */
    border-radius: 20px;
    /* Ao clicar, ele muda a cor lentamente */
    transition: 1s;
    /* Distância entre dois botoes */
    margin: 13px 20px;
    text-align: center;
}

/* Estilo para o botão quando o cursor estiver sobre ele */
input[type="button"]:hover {
    background: #21572d;
}
/*--------------------------CAMPO PESQUISAR-----------------------------*/
/*campo pesquisar*/
.header-2 input[type=text]{
    width:35%;
    height: 30px;
    border:1px solid #ccc;
    /*distancia entre dois campos*/
    margin: 0px 30px;
    border-radius: 10px;
    color: black;
}
/*------------------------MENU----------------------------*/
.menu2{
    width: 300px;
    height: 100%;
    background-color: #21572d31;
    text-align: center;
}
/*-----------------------TESTE-----------------------------*/
