body {
    /*largura*/
    width: 100%;
    /*altura*/
    height: 100%;
    /*tirar barra horizontal / tirar a borda branca*/
    margin: 0 auto;
}
.painelPrincipal{
    background-color: #21572d55;
    height: 300px;
    flex-direction: column; /* Os botões serão alinhados verticalmente */
    justify-content: center; /* Centralizar verticalmente o conteúdo do painel */
    align-items: center; 
}
form{
    padding-top: 25px;
    margin: 0px 100px;
    justify-content: center;
    padding-left: 380px;
}
form input[type=button]{
    width: 35%;
    height: 40px;
    /*mostrar para usuario que e clicavel*/
    cursor: pointer;
    /*fundo do botao*/
    background: rgb(122, 122, 122);
    /*cor da letra*/
    color: white;
    /*tirar a borda*/
    border: 0;
    /*botao arrendondado*/
    border-radius: 10px;
    /*ao clicar ele muda a cor lentamente*/
    transition: 1s;
    /*distancia entre dois campos*/
    margin: 10px 100px;
}

.div2{
    background-color: aliceblue;
    height: 500px;
    flex-direction: column; /* Os botões serão alinhados verticalmente */
    justify-content: center; /* Centralizar verticalmente o conteúdo do painel */
    align-items: center; 
}
.div3{
    background-color: #073311;
    height: 150px;
    color: white;
    padding-top: 25px;
    justify-content: center;
    padding-left: 380px;
}