/*geral*/
*{
    margin: 0;
    margin-top: 7px;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
}
body{
    /*colocar o body mais para baixo*/
    padding-top: 0vh; /*5% da tela*/
    background-color: #bbbbbbcc;
    background-size: cover;
    background-position-y: -150px;
}
/*frase: fazer login*/
h1{
    font-size: 30px;
    text-align: center;
    color: #21572dcc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*campos*/
form input[type=text],
form input[type=password],
form input[type=email],
#lastname{
    width:100%;
    height: 35px;
    border:1px solid #ccc;
    padding-left: 10px;
    /*distancia entre dois campos*/
    margin: 10px 0;
    border-radius: 20px;
}
/*clicar sobre o campo a borda ficar verde*/
form input[type=text]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}
/*texto em cima do campo*/
input,label{
    display: block;
    width: 100%;
}
/*tirar a borda quando clica no campo*/
input:focus, label:focus{
    outline: none;
}
/*error*/
a {
    color: #21572dcc;
}
/*centralizar o form*/
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    /*espacamento interno de 10px*/
    padding: 25px;
}
#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
.full-box{
    flex: 1 1 100%;
    position: relative;
}
.spacing{
    margin-right: 2.5%;
}
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}
/*botao*/
input[type="submit"]{
    background-color: #21572dcc;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    /*ao clicar ele muda a cor lentamente*/
    transition: 1s;
}
/*efeitos do botao*/
form input[type=submit]:hover{
    background-color: #0d1e11cc;
}
/*distancia entre li e aceito termos e botao*/
#agreement{
    margin-right: 5px;
}
#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}
/*validacoes*/
.error-validation{
    color: #ff1a1a;
    position: absolute;
    top: 63px;
    font-size: .8rem;
}
.template{
    display: none;
}
